{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}
    {# If user logged in, show their todos #}
    {% if session.user_id %}
        <article>
        <h2>Todo</h2>
        <ul>
            {% for task in tasks %}
                <li style="display: flex;">
                    <div id="p{{ task.priority }}">{{ task.priority }} </div> 
                    - 
                    {{ task.name }}
                    <a  
                        href="/complete/{{ task.id }}">
                       ☐
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>
        </article>
        <article>
        <h2>Completed</h2>
        <ul>
            {% for task in completed %}
                <li style="display: flex;">
                    <div id="p{{ task.priority }}">{{ task.priority }} </div> 
                    - 
                    <del>
                        {{ task.name }}
                    </del>
                    {# If task is completed, show delete button #}
                    {# Otherwise, show checkbox button #}

                    - ☑ - 
                    <a 
                        onclick="return confirm('Delete task? (this action cannot be undone)')" 
                        href="/delete/{{ task.id }}">❌
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

        </article>


        {# Only show form if user is logged in #}
        
        <article>

            <h3>Add a New Task...</h3>

            <form action="/add" method="POST">

                <input
                    type="text"
                    name="name"
                    placeholder="Name of new task"
                    required
                >

                <label>Priority</label>
                <input
                    type="radio"
                    name="priority"
                    value=1
                    id="P1"
                    required
                >
                <label for="P1"><div id="P1">1</div></label>
                <input
                    type="radio"
                    name="priority"
                    value=2
                    id="P2"
                    required
                >
                <label for="P2">2</label>
                <input
                    type="radio"
                    name="priority"
                    value=3
                    id="P3"
                    required
                >
                <label for="P3">3</label>
                <input
                    type="radio"
                    name="priority"
                    value=4
                    id="P4"
                    required
                >
                <label for="P4">4</label>
                <input
                    type="radio"
                    name="priority"
                    value=5
                    id="P5"
                    required
                >
                <label for="P5">5</label>
                <br><br>
                <button>Add the Task</button>

            </form>

        </article>

    {% else %}
        <h1>Epic Todo-List</h1>

        <p>Welcome to the epic todo-list app!</p>
        <p>To get started, register an account or log in!</p>

        <a href="/register" role="button">Register</a> <a href="/login" role="button">Login</a>
    {% endif %}
{% endblock %}

