/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/

#p1 {color: var(--pico-color-green-250);}
#p2 {color: var(--pico-color-amber-200);}
#p3 {color: var(--pico-color-orange-500);}
#p4 {color: var(--pico-color-red-500);}
#p5 {color: var(--pico-color-red-750);}

/* ABOUT PAGE -------------------------------------------- */

#tech-stack {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#tech-stack article {
    flex: 1;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

